.footer { 
    background-color: transparent;
    /* background-color: #4cc7ff; */
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
}

.footer-list { 
    list-style: none;
}

.footer-list-title { 
    color: #d2d2d2;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 13px;
}

.footer-list-item, .footer-list-item-not-link { 
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 13px;
    width: fit-content;
    font-family: sans-serif;
}

.footer-list-item:hover { 
    color: #b4ddfb;
}
